/* styles.css */
.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 400px; /* Adjust the height as needed */
}

.transition-image {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 15s ease-in-out; /* Adjust duration and easing as needed */
}

/* Apply the transition on page load */
/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.image-wrapper img {
    animation: reveal 2s ease-in-out forwards;
}

@keyframes reveal {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
